.search-area{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    /* padding: 0 800px; */
}

.search-area .content{
    max-width:  800px;
    width: 100%;
    padding: 0 44px 44px 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px; 
}


.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.search-input{
    height: 40px;
    padding: 0 15px;
    border-radius: 8px 0 0 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px;
}
.search-bar .material-icons{
    height: 40px;
    width: 40px;
    background: #00c385;;
    color: #fff;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
}
.cart{
    color: whitesmoke;
    background: #00c385;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.category-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    list-style-type: none;
    height: 40px;
    font-weight: 500;
    transition: all .2s ease;
}
.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}
.help i{
    color: #969696;
    margin-right: 10px;
}

button{
    cursor: pointer;
    transition: all .1s ease;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 2px transparent;
    transition: all .2s ease;
}