.shopping-cart{
    margin: 10px;
}
.shopping-cart h3, .notification{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-table .header{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border: solid 1px grey;
    border-radius: 4px;
    width: 100%;
}
.header-row{
    display: flex;
    height: 50px;
    background: #2c4047;
    margin-bottom: 15px;
}

.header-row span{
    flex: 1;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px; 
}
.product-row{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px whitesmoke;
}
.product-row span{
    flex: 1;
}
.receipt{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}
.receipt-subtotal, .receipt-taxes, .receipt-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}